:host {
  display: flex;
  justify-content: center;
}

#dropdown-container  {
  width: 200px;
  font-size: 20px;
}


#search-bar {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: #333 3px solid;
}

#result-container {
  background: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-item {
  cursor: pointer;
  padding: 5px 0;
}

.dropdown-item:hover {
  text-decoration: underline;
}
